
@{
    ViewBag.Title = "Država";
}


<br />
<br />

    <a href="~/ModulAdministrator/Drzava/Prikazi" class="btn  btn-info">Prikaži države</a>
    <a href="~/ModulAdministrator/Drzava/Dodaj" class="btn  btn-info">Dodaj državu</a>

