@using WebApplication2.Models;
@using Kulturno_sportski_centar.Areas.ModulAdministrator.Models;
@{

    ViewBag.Title = "Drežava";

}

@model Kulturno_sportski_centar.Areas.ModulAdministrator.Models.DrzavaPrikaziViewModel

<h3>Prikaz država</h3>


        <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Naziv</td>
                    <td>Oznaka</td>
                    <td>Akcija</td>
                </tr>
            </thead>
            <tbody>
    @foreach (Drzava x in Model.Drzave)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Naziv</td>
            <td>@x.Oznaka</td>
            <td>
                <a href="~/ModulAdministrator/Drzava/Uredi/?Id=@x.Id" class="btn btn-primary">Uredi</a>
                <a href="~/ModulAdministrator/Drzava/Obrisi/?Id=@x.Id" class="btn btn-danger">Obriši</a>
            </td>

        </tr>
    }
        
            </tbody>
        </table>

