
@{

    ViewBag.Title = "Rezervacija";
}




    <br />
<br />
<div>
    <a href="~/ModulKorisnik/Rezervacija/Prikazi" class="btn btn-info">Prikazi rezervacije</a>
    <a href="~/ModulZaposlenik/Termin/Prikazi" class="btn btn-info">Kreiraj rezervaciju</a> 
</div>
