
@{
    // Layout = null;
    ViewBag.Title = "Grad";
}
<div>
    <br />
    <br />

    <a href="/ModulAdministrator/Grad/prikazi" class="btn btn-info">Prikaži gradove</a>
    <a href="/ModulAdministrator/Grad/dodaj" class="btn btn-info">Dodaj grad</a>
</div>