
@{
    //Layout = null;
    ViewBag.Title = "Regija";
}

<br />
<br />

        <a href="~/ModulAdministrator/Regija/Prikazi" class="btn  btn-info">Prikaži regije</a>
        <a href="~/ModulAdministrator/Regija/Dodaj" class="btn  btn-info">Dodaj regiju</a>

  