
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodaj</title>
</head>
<body>
    <div> 
        <form action="~/Osoba/Snimi">
            <table>
                <tr>
                    <td>Ime</td>
                    <td><input type="text" name="Ime" /></td>
                </tr>
                <tr>
                    <td>Prezime</td>
                    <td><input type="text" name="Prezime" /></td>
                </tr>
                <tr>
                    <td>Datum rođenja</td>
                    <td><input type="datetime" name="DatumRodjenja" /></td>

                </tr>
                <tr>
                    <td>JMBG</td>
                    <td><input type="text" name="JMBG" /></td>
                </tr>
                <tr>
                    <td>Korisnicko ime</td>
                    <td><input type="text" name="KorisnckoIme" /></td>
                </tr>
                <tr>
                    <td>Lozinka</td>
                    <td><input type="password" name="Lozinka" /></td>
                </tr>
                <tr>
                    <td>Grad</td>
                    <td><input type="text" name="Grad" /></td>
                </tr>
                <tr>
                    <td>Adresa</td>
                    <td><input type="text" name="Adresa" /></td>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="Email" /></td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td><input type="text" name="Telefon" /></td>
                </tr>
                
                
                
                

                
            </table>
            <input type="submit" value="Snimi" />
        </form>
    </div>
</body>
</html>
